body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.heading {
  width: 35%;
  position: relative;
  left: 33%;
  text-align: center;
  padding-top: 1%;
  line-height: 1.5em;
}
.heading .top {
  font-weight: 300;
  color: hsl(234, 12%, 34%);
}
.heading .mid {
  font-weight: 900;
}
.heading p {
  font-weight: 300;
  color: hsl(229, 6%, 66%);
}

/* supervisior Section */
.supervisior {
  padding: 0 2% 2% 2%;
  width: 20%;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  box-shadow: 5px 10px #edf6e5;
  border-color: hsl(180, 62%, 55%) #fff #fff #fff;
  border-radius: 3%;
  position: absolute;
  left: 12%;
  top: 60%;
}
.supervisior img {
  position: relative;
  left: 80%;
}
.supervisior p {
  font-weight: 300;
  color: hsl(229, 6%, 66%);
}

/* team-leader Section  */
.team-builder {
  padding: 0 2% 2% 2%;
  width: 20%;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  border-color: hsl(0, 78%, 62%) #fff #fff #fff;
  box-shadow: 5px 10px #edf6e5;
  border-radius: 3%;
  position: absolute;
  left: 38%;
  top: 35%;
}
.team-builder img {
  position: relative;
  left: 80%;
}
.team-builder p {
  font-weight: 300;
  color: hsl(229, 6%, 66%);
}

/* karma section  */
.karma {
  padding: 0 2% 2% 2%;
  width: 20%;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  box-shadow: 5px 10px #edf6e5;
  border-color: hsl(34, 97%, 64%) #fff #fff #fff;
  border-radius: 3%;
  position: absolute;
  left: 38%;
  top: 80%;
}
.karma img {
  position: relative;
  left: 80%;
}
.karma p {
  font-weight: 300;
  color: hsl(229, 6%, 66%);
}

/* calculator section  */
.calculator {
  padding: 0 2% 2% 2%;
  width: 20%;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  box-shadow: 5px 10px #edf6e5;
  border-color: hsl(212, 86%, 64%) #fff #fff #fff;
  border-radius: 3%;
  position: absolute;
  right: 12%;
  top: 60%;
}
.calculator img {
  position: relative;
  left: 80%;
}
.calculator p {
  font-weight: 300;
  color: hsl(229, 6%, 66%);
}
